<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./head.ejs'); %>
    </head>
<body id="admin">
    <!-- INICIO HEADER -->
    <header>
        <%- include('./header_auth.ejs'); %>
    </header>
    <!-- FIN DE HEADER -->
    <!-- INICIO ASIDE-->
    <!--inicio form-->
    <main>
        <!--Boton de busqueda-->
   <section class="search__container">

       <div class="search">
           <form action="tu_pagina_de_busqueda.html" method="get">
               <button type="submit" class="search__button"><img src="/img/icons/search_icon.svg" alt="Buscar"></button>
               <input class="search__imput" type="text" id="buscar" name="q" placeholder="código, nombre o categoria" required>
           </form>
       </div>

   </section>


    <section>

    <div class="table_primari">
               

           <!-- Tabla de productos -->
         <table> 
                      
                <thead>

                   <tr>
                        <th colspan="3" class="flex_item1"><h1 class="title_list">LISTADO PRODUCTOS</h1></th>
                            <th colspan="2" class="flex_item2"><h3 class="agregar">AGREGAR</h3></th>

                            <!-- Botón para agregar nuevos productos -->
                            <th colspan="">
                                <button class="btn_add btn" id="btn_agregar">
                                    <a href="/admin/create">
                                    <img src="/img/icons/mdi_plus-box.svg" alt="">
                                </a>
                                </button>
                            </th>
                   </tr>
               

                   <tr>
                       <div class="table">
                           <th class="id">ID</th>
                           <th class="codigo">Código</th>
                           <th class="name_product">Nombre del Producto</th>
                           <th class="categoria">Categoría</th>
                       </div>

                   </tr>

               </thead>
                        <!--CARTEL DE POPUP-->
               <div class="overlay" id="overlay">
                    <div class="popup">
                        <p>¿Estás seguro de que quieres borrar este producto?</p>
                        <button id="confirmarBorrar">Sí</button>
                        <button id="cancelarBorrar">No</button>
                    </div>
                </div>


               <tbody class="tbody">
                <% productos.forEach(function(product) { %>
                         <tr>
                               <td class="order"><%= product.product_id %></td>
                               <td class="cod"><%= product.sku %></td>
                               <td class="name"><%= product.product_name %></td>
                               <td class="genero"><%= product.licence_name %></td>
                               <td class="edit_button">
                                   <button type="button" class="btn">
                                    <a href="/admin/edit/<%= product.product_id %>">
                                        <img src="/img/icons/edit_pencil.svg" alt="">
                                    </a>
                                    </button>
                               </td>
                               <td class="delete_icon">
                                    <button data-id="<%= product.product_id %>" type="button"
                                        class="btn botonBorrar">
                                        <img src="/img/icons/delete_trash.svg" alt="">
                                    </button>
                                </td>
                           </tr>
                <% }); %>
                
                </tbody> 

        </table>            
    </div>
       
               </section>

</main>
    <!--FIN MAIN-->
    <footer class="footer">
        <%- include('./footer_auth.ejs'); %>
    </footer>
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>

    <script>
        const botonesBorrar = document.getElementsByClassName('botonBorrar');
        const overlay = document.getElementById('overlay');
        const confirmarBorrarBtn = document.getElementById('confirmarBorrar');
        const cancelarBorrarBtn = document.getElementById('cancelarBorrar');


        Array.from(botonesBorrar).forEach(function (boton) {
        boton.addEventListener('click', function () {
            let id = this.getAttribute('data-id');
            overlay.style.display = 'flex';

            confirmarBorrarBtn.addEventListener('click', function () {
                fetch('/admin/edit/delete/' + id, { method: 'DELETE' })
                    .then(() => {
                        window.location.reload();
                    })
                    .catch(error => console.error('Error:', error));

                
                overlay.style.display = 'none';
            });

            //Si se hace click en NO
            cancelarBorrarBtn.addEventListener('click', function () {
                overlay.style.display = 'none';
            });
        });
        });
            // si se hace click en cualq lado de la pagina
        overlay.addEventListener('click', function (event) {
        if (event.target === overlay) {
            overlay.style.display = 'none';
        }
        });
    </script>
</body>

</html>