<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./head.ejs'); %>
    </head>
<body id="create">
    <!-- INICIO HEADER -->
    <header>
        <%- include('./header_auth.ejs'); %>
    </header>
    <!-- FIN DE HEADER -->
    <!-- INICIO ASIDE-->
    <!--inicio form-->
    <section class="main-content">
        <div class="add-item">
            <h2>Crear Nuevo Item</h2>
            <form 
                class="edit-form"
                action="http://localhost:3000/admin/create"
                method="POST"
            >
                <div class="choice">
                    <div>
                        <label for="selectCategory">
                            <span>Categoría:</span>
                        </label>
                        <select id="selectCategory" name="category">
                            <% categorias.forEach(function(categoria) { %>
                                <option value="<%= categoria.category_id %>"><%= categoria.category_name %></option>
                            <% }); %>
                        </select>
                    </div>
                    
                    <div>
                        <label for="selectLicencia">
                            <span>Licencia:</span>
                        </label>
                        <select id="selectLicencia" name="license">
                            <% licencias.forEach(function(licencia) { %>
                                <option value="<%= licencia.licence_id %>"><%= licencia.licence_name %></option>
                            <% }); %>
                        </select>
                    </div>
                </div>
                <div class="nombre-prod">
                    <label for="inputNombreProd">Nombre del producto:</label>
                    <input id="inputNombreProd" type="text" name="product_name" placeholder= "Naruto shipuden" class="red-underline">
                </div>
                
                <textarea name="description" id="" cols="70"
                rows="7" placeholder="Descripción del producto" class="textarea-descripcion"></textarea>
                
                <div class="descripcion_prod">
                    <div class="sku">
                        <label for="skuProd">SKU:</label>
                        <input id="skuProd" type="text" name="sku"  placeholder="SSKA1ASB10" class="red-underline">
                    </div>
                    <div class="precio">
                        <label for="precioProd">Precio:</label>
                        <input id="precioProd" type="text"  name="price" placeholder="1700"class="red-underline">
                    </div>
                    <div class="stock">
                        <label for="stock">Stock:</label>
                        <input id="stock" type="text"  name="stock" placeholder="10" class="red-underline">
                    </div>
                </div>
                
                <div class="pago">
                    <div class="descuento">
                        <label for="descProd">Descuento:</label>
                        <input id="descProd" type="text" name="discount" placeholder="0%" class="red-underline">
                    </div>
                    <div class="cuotas">
                        <label for="cuotasProd">
                            <span>Cuotas:</span>
                        </label>
                        <select id="cuotasProd" name="due">
                            <option value="1">1 Cuota sin interés</option>
                            <option value="3">3 Cuotas sin interés</option>
                            <option value="6">6 Cuotas sin interés</option>
                            <option value="12">12 Cuotas sin interés</option>
                        </select>
                    </div>
                </div>
                <div class="carga_archivo">
                    <label for="selecImg">Imágenes:</label>
                    <input id="selecImg" type="file" name="img">
                </div>
            </div>
            <div class="add-button">
                <button type="submit">Agregar Producto</button>
                <button>Limpiar</button>
            </div>
        </form>
    </section>
    <!--FIN MAIN-->
    <footer class="footer">
        <%- include('./footer.ejs'); %>
    </footer>
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
</body>
</html>