<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./head.ejs'); %>
    </head>
<body id="item">
    <!-- INICIO HEADER -->
    <header>
        <%- include('./header.ejs'); %>
    </header>
    <main class="main-container">
        <section class="collection container">

        <div class="product-details">
            <div class="product-img">
            <picture class="collection-img">
                <img src="<%= producto.image_front %>" alt="">
            </picture>
            </div>
            <div class="product-text">
            <article class="collection-content">
                <p class="collection-text"><%= producto.licence_name %></p>
                <h3 class="collection-title"><%= producto.product_name%></h3>
                <p class="collection-text"><%= producto.product_description%></p>
                <p class="collection-price">$ <%= producto.price%></p>
            </article>
            <div class="counter-and-cart">
                <button id="sub" class="item-bottom-rest" type="button">-</button>
                <input  class="item-imput" type="text" name="quantity" id="cantidad" placeholder="0" value="" >
                <button id="add" class="item-bottom-add" type="button">+</button>
                <button id="agregar">Agregar al Carrito</button>
            </div>

            <div class="enlace-medios-de-pago">
                <a href="#">Ver medios de pago - <%=producto.dues %> CUOTAS SIN INTERES</a>
            </div>
            </div>
        </div>
        
    </section>

        <section  class="glide" id="productos-relacionados container">
            <h2 class="">PRODUCTOS RELACIONADOS</h2>
            <div class="glide__track" data-glide-el="track">
                <div class=" glide__slides">
                    <div class="glide__slide">
                        <div class="card-figuras">
                            <article class="card-figura">
                                    <a href="#">
                                    <picture class="item-card-cover" >
                                        <span class="card-tag">Nuevo</span>                    
                                        <img class="card-img-front"  src="/img/star-wars/trooper-1.webp" alt="Figura coleccionable Funko de un Stormtrooper">
                                        <img class="card-img-back" src="/img/star-wars/trooper-box.webp">
                                    </picture>
                                    </a>

                                    <div class="card-content">
                                    <p class="item">STAR WARS</p>
                                    <h4>STORMTROOPER LIGHTSABER </h4>
                                    <p class="item"> $ 1799,99 </p>
                                    <p class="card-promo">3 CUOTAS SIN INTERES</p>
                                    </div>
                            </article>
                        
                            
                            <article class="card-figura">
                                <a href="#">
                                <picture class="item-card-cover">
                                    <span class="card-tag">Nuevo</span>
                                    <img class="card-img-front" src="/img/pokemon/pidgeotto-1.webp" alt="Figura coleccionable Funko de un pidgeotto">
                                    <img class="card-img-back" src="/img/pokemon/pidgeotto-box.webp">
                                </picture>
                                </a>

                                <div class="card-content">
                                <p class="item">POKEMON</p>
                                <h4>PIDGEOTTO </h4>
                                <p class="item"> $ 1799,99 </p>
                                <p class="card-promo">3 CUOTAS SIN INTERES</p>
                                </div>
                            </article>
                            

                            
                            <article class="card-figura">
                                <a href="#">
                                <picture class="item-card-cover">
                                    <span class="card-tag">Nuevo</span>
                                    <img class="card-img-front" src="/img/harry-potter/luna-1.webp" alt="Figura coleccionable Funko de un luna lovegood lion mask">
                                    <img class="card-img-back" src="/img/harry-potter/luna-box.webp">
                                </picture>
                                </a>

                                <div class="card-content">
                                <p class="item">HARRY POTTER</p>
                                <h4>LUNA LOVEGOOD LION MASK </h4>
                                <p class="item"> $ 1799,99 </p>
                                <p class="card-promo">3 CUOTAS SIN INTERES</p>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="glide__slide">
                        <div class="card-figuras">
                            <article class="card-figura">
                                    <a href="#">
                                    <picture class="item-card-cover" >
                                        <span class="card-tag">Nuevo</span>                    
                                        <img class="card-img-front"  src="/img/star-wars/trooper-1.webp" alt="Figura coleccionable Funko de un Stormtrooper">
                                        <img class="card-img-back" src="/img/star-wars/trooper-box.webp">
                                    </picture>
                                    </a>

                                    <div class="card-content">
                                    <p class="item">STAR WARS</p>
                                    <h4>STORMTROOPER LIGHTSABER </h4>
                                    <p class="item"> $ 1799,99 </p>
                                    <p class="card-promo">3 CUOTAS SIN INTERES</p>
                                    </div>
                            </article>
                        
                            
                            <article class="card-figura">
                                <a href="#">
                                <picture class="item-card-cover">
                                    <span class="card-tag">Nuevo</span>
                                    <img class="card-img-front" src="/img/pokemon/pidgeotto-1.webp" alt="Figura coleccionable Funko de un pidgeotto">
                                    <img class="card-img-back" src="/img/pokemon/pidgeotto-box.webp">
                                </picture>
                                </a>

                                <div class="card-content">
                                <p class="item">POKEMON</p>
                                <h4>PIDGEOTTO </h4>
                                <p class="item"> $ 1799,99 </p>
                                <p class="card-promo">3 CUOTAS SIN INTERES</p>
                                </div>
                            </article>
                            

                            
                            <article class="card-figura">
                                <a href="#">
                                <picture class="item-card-cover">
                                    <span class="card-tag">Nuevo</span>
                                    <img class="card-img-front" src="/img/harry-potter/luna-1.webp" alt="Figura coleccionable Funko de un luna lovegood lion mask">
                                    <img class="card-img-back" src="/img/harry-potter/luna-box.webp">
                                </picture>
                                </a>

                                <div class="card-content">
                                <p class="item">HARRY POTTER</p>
                                <h4>LUNA LOVEGOOD LION MASK </h4>
                                <p class="item"> $ 1799,99 </p>
                                <p class="card-promo">3 CUOTAS SIN INTERES</p>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
            <div class="glide__arrows" data-glide-el="controls">
                <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><</button>
                <button class="glide__arrow glide__arrow--right" data-glide-dir=">">></button>
            </div>
        </section>


    </main>
    <footer class="footer">
    <%- include('./footer.ejs'); %>
    </footer>
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    <script src="/js/item.js"></script>
    <script src="/js/glinder.js"></script>

    <script>
        new Glide('.glide').mount()
    </script>
</body>
</html>