<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./head.ejs'); %>
    </head>
<body id="shop">
    <!-- INICIO HEADER -->
    <header>
        <%- include('./header.ejs'); %>
    </header>
    <!-- FIN DE HEADER -->
    <!-- INICIO ASIDE-->
    <!--inicio form-->
    <div class="row">
      <aside>
        <form action="/resultados-de-busqueda" method="get">
            <div class="form-item">
                <div class="form-title1">
                    <label for="product-search"><b>BUSCAR</b></label>
                    <input type="text" id="product-search" name="q" placeholder="Item o categoría" required>
                </div>
            </div>
        
            <div>
                <div class="form-order">
                  <div class="form-title2">
                    <label for="sort-by"><b>ORDENAR POR</b></label>
                    <select id="sort-by" name="sort">
                        <option value="precio-desc">Mayor a Menor</option>
                        <option value="relevancia">Relevancia</option>
                        <option value="precio-asc">Menor a Mayor</option>
                        <option value="nombre-asc">Nombre (A a Z)</option>
                        <option value="nombre-desc">Nombre (Z a A)</option>
                    </select>
                  </div>  
                </div>
            </div>
        
            <div>
                <div class="form-title3">
                    <label><b>PRECIO</b></label>
                    <div class="form-price">
                        <label class="price-min" for="price-min"> <b>MIN</b> </label>
                        <input type="number" id="price-min" name="min_price" min="0" placeholder="0" >
                        <span> -</span>
                        <label class="price-max" for="price-max"> <b>MAX</b></label>
                        <input type="number" id="price-max" name="max_price" min="0" placeholder="0" >
                    </div>
                </div>
            </div>
        
            <div>
                <div class="form-title4">
                    <label ><b>FILTRAR</b></label>
                    <div class="form-filtro">
                       <div class="form-check"> 
                             <input class="check" type="checkbox" id="new" name="filter" value="nuevos">
                             <label for="new">NUEVOS</label>
                       </div>
                       <div class="form-check">  
                            <input class="check" type="checkbox" id="offers" name="filter" value="ofertas">
                            <label for="offers">OFERTAS</label>
                       </div>
                       <div class="form-check">
                            <input class="check" type="checkbox" id="special-edition" name="filter" value="edicion-especial">
                            <label for="special-edition">EDICIÓN ESPECIAL</label>
                       </div>
                       <div class="form-check">
                            <input class="check" type="checkbox" id="favorites" name="filter" value="favoritos">
                            <label for="favorites">FAVORITOS</label>
                       </div>
                    </div>   
                </div>
            </div>
        </form>
      </aside> 

    
       <!--fin form-->
       <!--FIN ASIDE --> 

       <!--INICIO SECTION-->
         <section class="slider container">
            <ul class="slider__items">
                <% productos.forEach(function(product) { %>
                    <li class="slider__item">
                        <article class="card__item"> 
                            <a class="card__item__link">
                                <a href="/shop/item/<%= product.product_id%>">
                                <picture class="card-item__cover">
                                    <span class="card-item__tag">Nuevo</span>
                                    <img class="card-item__img--front" src="<%= product.image_front%>" alt="Figura coleccionable Funko de un Star WARS ">
                                    <img class="card-item__img--back" src="<%= product.image_back%>" alt="Figura coleccionable Funko de un Star WARS en caja">
                                
                                </picture></a>
                                <div class="card-item__content">
                                    <p class="card-item__licence"><%= product.licence_name %></p>
                                    <h4 class="card-item__name"><%= product.product_name %></h4>
                                    <p class="card-item__price">$<%= product.price %></p>
                                    <p class="card-item__promo"><%=product.dues %> CUOTAS SIN INTERES</p> 
                                </div>
                            </a>
                        </article>  
                    </li>
                <% }); %>
            </ul>
          </section>
    </div>    
    <!--inicio paginacion-->   
    <div class="pagination">
        <a href="#" class="prev"><iconify-icon icon="fluent:chevron-left-24-filled"></iconify-icon></iconify-icon><i class="fas fa-chevron-left"></i></a>
        <a href="#" class="active">1</a>
        <a href="#">2</a>
        <a href="#">...</a>
        <a href="#">9</a>
        <a href="#">10</a>
        <a href="#" class="next"><iconify-icon icon="fluent:chevron-right-24-filled"></iconify-icon><i class="fas fa-chevron-right"></i></a>
    </div>
         
         
    <!--fin paginacion-->       
    
   
    <footer class="footer">
        <%- include('./footer.ejs'); %>
    </footer>
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
</body>
</html>
